<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcSimplesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64019/Services/CalcSimples.asmx"
        binding="basicHttpBinding" bindingConfiguration="CalcSimplesSoap"
        contract="WS_EXT.CalcSimplesSoap" name="CalcSimplesSoap" />
    </client>
  </system.serviceModel>
</configuration>
