<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcSimplesSoap" />
                <binding name="CalcSuperSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64019/Services/CalcSimples.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcSimplesSoap"
                contract="WS_EXT_1.CalcSimplesSoap" name="CalcSimplesSoap" />
            <endpoint address="http://localhost:61668/Service/CalcSuper.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcSuperSoap"
                contract="WS_EXT_2.CalcSuperSoap" name="CalcSuperSoap" />
        </client>
    </system.serviceModel>
</configuration>